error workflow for pipeline health monitor.json
{
  "name": "error workflow for pipeline health monitor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d7c353f9-8ea4-4954-af50-b730bbfc470b",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Kindly assess the error and give a suitable solution. Ensure to include the node the error occurs in and the timestamp . ",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        0
      ],
      "id": "e4128059-d146-42ac-b8b2-e59d0ea01ae4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "2f25c7f6-f223-417a-a77d-e5c879948ba3",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "8c905a5e-9738-4a72-a2a8-d6ba8e13e8e2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UasF6MGvhmA0J7H1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "0b06a5f4-c517-4c72-9cd6-5e46b54428c7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"timestamp\":\"\",\n  \"node \":\"\",\n  \"error\":\"\",\n  \"solution\":\"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "7168807a-38bf-4cb4-8c91-8256ab8b14ef",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Jws_eM9XUKVg2odsnyy94rZBJ0h_H93xMbbIjllohWo/edit?gid=495998050#gid=495998050",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 495998050,
          "mode": "list",
          "cachedResultName": "pipeline health monitor workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jws_eM9XUKVg2odsnyy94rZBJ0h_H93xMbbIjllohWo/edit#gid=495998050"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Error": "={{ $json.error }}",
            "Solution": "={{ $json.solution }}",
            "Node of occurence": "={{ $json.Node }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node of occurence",
              "displayName": "Node of occurence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        0
      ],
      "id": "3734b8d4-2ead-4c74-90be-bd81561c2392",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdYjAc4T9MofsA1Q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        688,
        432
      ],
      "id": "02df172a-506f-4a72-805f-d9e93f193edd",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf2db201-54df-470f-9438-4cb83c17e39d",
              "name": "Timestamp",
              "value": "={{ $json.output.timestamp }}",
              "type": "string"
            },
            {
              "id": "4ce21653-21d9-43a1-b77a-c1013bbf3df7",
              "name": "Node",
              "value": "={{ $json.output['node '] }}",
              "type": "string"
            },
            {
              "id": "b63e85a5-a858-4b04-89c9-0bfe28f0f4e7",
              "name": "error",
              "value": "={{ $json.output.error }}",
              "type": "string"
            },
            {
              "id": "cf94e832-5bce-4125-b170-d377c8ae7b37",
              "name": "solution",
              "value": "={{ $json.output.solution }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "a2cfa630-2278-4d1b-bff8-381f9c463fce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "pascalmungai850@gmail.com",
        "subject": "Error in pipeline health monitor workflow",
        "emailType": "text",
        "message": "=Error detected in pipeline health monitor workflow.\n {{ $json['Node of occurence'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        0
      ],
      "id": "2f9c644c-aaad-413f-a744-db1b1766de70",
      "name": "Send a message",
      "webhookId": "919653e0-f63e-47b0-accb-70f3c0d433ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "irLKVaWfxuXOHOpb",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6e3336d2-64b4-474d-bf94-65d58424fbaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0aa506bc31bb6c23d4205d65e127223a32ab13d31eb28c9510f1888b5b88f164"
  },
  "id": "D1D3wKuHpvAP9fQ2",
  "tags": []
}