Pipeline health monitor Recruit strategizer (1).json
{
  "name": "Pipeline health monitor Recruit strategizer",
  "nodes": [
    {
      "parameters": {
        "model": "devstral-latest",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3456,
        1552
      ],
      "id": "ac95d839-a0d2-453a-aa1a-9967b43441e0",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2528,
        640
      ],
      "id": "4d1f558a-127d-4aaf-a73f-5857b945db4d",
      "name": "Mistral Cloud Chat Model10",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2992,
        1344
      ],
      "id": "5917f1f7-6d81-42c8-bb67-d2be241e450a",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3120,
        1344
      ],
      "id": "b3a25b02-fcac-45af-baba-d9335aa2878e",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "UasF6MGvhmA0J7H1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3248,
        1344
      ],
      "id": "0bc6c037-4a27-4814-867e-02d2ac50763d",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t \"TimeStamp\":\"\",\n  \"Error\":\"\",\n  \"Solution\":\"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3376,
        1344
      ],
      "id": "c895905e-ca92-4552-91b3-18fce29bc9e7",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "sendTo": "pascalmungai850@gmail.com",
        "subject": "Error in n8n AI agent",
        "emailType": "text",
        "message": "ALERT!ALERT!!! Error detected in the recruit strategizer",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4032,
        1136
      ],
      "id": "3bcedd2c-f413-41f4-8e52-d5c429114e91",
      "name": "Send a message2",
      "webhookId": "a74b12ad-4e58-4f6e-870e-bd34fdc30735",
      "credentials": {
        "gmailOAuth2": {
          "id": "irLKVaWfxuXOHOpb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11496ad3-e149-4ddd-bddf-315a17fb7c18",
              "name": "error",
              "value": "={{ $json.output.Error }}",
              "type": "string"
            },
            {
              "id": "a1f86f1d-49f3-4dd0-b8b8-ec4cd6453cd0",
              "name": "solution",
              "value": "={{ $json.output.Solution }}",
              "type": "string"
            },
            {
              "id": "c2572c41-c7fe-44a9-a8c0-3016cb56b35e",
              "name": "Timestamp",
              "value": "={{ $json.output.TimeStamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        1136
      ],
      "id": "4304957c-a0a0-42d0-b244-792310793567",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Jws_eM9XUKVg2odsnyy94rZBJ0h_H93xMbbIjllohWo/edit?gid=1873991741#gid=1873991741",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1873991741,
          "mode": "list",
          "cachedResultName": "recruit strategiser",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Jws_eM9XUKVg2odsnyy94rZBJ0h_H93xMbbIjllohWo/edit#gid=1873991741"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solution",
              "displayName": "Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3808,
        1136
      ],
      "id": "98b5430c-0ceb-48a7-a5cf-f30c9c0ca1b6",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdYjAc4T9MofsA1Q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.3,
          "maxRetries": 2,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2064,
        432
      ],
      "id": "d385b898-004e-404b-a1a2-26458e8cebaf",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "8AcK3LgTIElhoruj",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 100,
          "temperature": 0.3,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2192,
        432
      ],
      "id": "9f8a0309-9fa2-4d18-8346-b613dbcfa0e7",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "UasF6MGvhmA0J7H1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2320,
        432
      ],
      "id": "8b078ba7-3629-46db-bd2e-712c32a2dcef",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t \"bottleneck_stage\": \"The stage causing the biggest delay in the hiring pipeline\",\n  \"recommendations\": [\n    \"A single actionable recommendation to improve hiring speed (4 items total)\"\n  ],\n  \"html_report\": \"The complete HTML-formatted response with <ul> lists and <b> bolding\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2448,
        432
      ],
      "id": "9292892a-d954-4c7b-b2a2-57424e71888a",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Kindly review the error and give a suitable cause of action.\nEnsure to include the timestamp of the error in the output. ",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3088,
        1120
      ],
      "id": "52772404-9707-476f-82d6-508b8a88f3c9",
      "name": "error handler for recruitment advisor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "536f5b5f-952f-4270-8ea9-aaac59bd88e8",
              "name": "Text",
              "value": "=This is the HTML strategy report",
              "type": "string"
            },
            {
              "id": "2c17e972-67d2-48ec-81ce-9c99f87cf8b9",
              "name": "recommendations",
              "value": "={{ $json.output.recommendations }}",
              "type": "array"
            },
            {
              "id": "01e6499d-715a-48f8-a504-304a021961b9",
              "name": "bottleneck stage",
              "value": "={{ $json.output.bottleneck_stage }}",
              "type": "string"
            },
            {
              "id": "23466489-18e1-4b13-9d21-cb6832f2181b",
              "name": "HTML strategy report",
              "value": "={{ $json.output.html_report }}",
              "type": "string"
            },
            {
              "id": "36740136-7f2b-4d78-baae-fcf5f8b75bcc",
              "name": "Title",
              "value": "HTML strategy report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        224
      ],
      "id": "fc4b236a-0f14-49dd-b948-8ec63b869e6a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "pascalmungai850@gmail.com",
        "subject": "HTML strategy report",
        "emailType": "text",
        "message": "={{ $json.Title }}\n\n\n{{ $json.Text }}\n\nBottleneck stage:{{ $json['bottleneck stage'] }}\nRecommendations:{{ $json.recommendations }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3568,
        224
      ],
      "id": "6dd4f2d2-10b9-4583-ae89-e1ca79e48b55",
      "name": "Send a message",
      "webhookId": "440300e3-d519-4f72-ab36-d0fa573ccf6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "irLKVaWfxuXOHOpb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the pipeline metrics gotten from the previous nodes {{ $json['[object Object]'][0].output }}\nIdentify the bottleneck stage (Interview, Offer, Screening).\nGive 4 useful recommendations to improve hiring speed.\n\nFormat the output as valid HTML (use <ul> for lists and <b> for bolding).",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2160,
        208
      ],
      "id": "b52abe26-d72f-4790-8377-c9df56cdec47",
      "name": "recruitment strategiser",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "abc5a693-2b5f-4754-8a81-427d418576f7",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1952,
        208
      ]
    },
    {
      "parameters": {
        "content": "ERROR HANDLING",
        "height": 704,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        1040
      ],
      "typeVersion": 1,
      "id": "6bee68bd-c85f-4a6d-b47a-78ef1f825800",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RECRUIT STRATEGIZER",
        "height": 736,
        "width": 1888,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        128
      ],
      "typeVersion": 1,
      "id": "96497e31-03b0-4d2a-84d2-2ab10535ac7e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "The email is written and sent to the appropriate recipients.",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        -128
      ],
      "typeVersion": 1,
      "id": "229a05b7-dcff-4c33-94c5-2a5d01b95fed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "The data from the main workflow is received and the recruit strategizer analyses the data to give the bottleneck stages and make recommendations to improve hiring speed."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        -80
      ],
      "typeVersion": 1,
      "id": "f9b46bfc-4801-4c76-bf14-858b5d24cdcb",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "recruitment strategiser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "recruitment strategiser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "recruitment strategiser",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "recruitment strategiser",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "recruitment strategiser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "recruitment strategiser": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error handler for recruitment advisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "error handler for recruitment advisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "error handler for recruitment advisor",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "error handler for recruitment advisor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "error handler for recruitment advisor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "error handler for recruitment advisor": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "D1D3wKuHpvAP9fQ2",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2c5fa58e-b873-44fd-8f2c-7d5b3221048d",
  "meta": {
    "instanceId": "0aa506bc31bb6c23d4205d65e127223a32ab13d31eb28c9510f1888b5b88f164"
  },
  "id": "YUgKM1u1q4yCid21",
  "tags": []
}